* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

main {
	width: 960px;
	margin: 50px auto ;
}

section {
	position: relative;
	float: left;
	width: 300px;
	padding: 10px;
	border: 1px solid #eee;
}

span {
	position : absolute;
	top: 0;
	left: 0;
	background-color: orange;
	color: white;
	padding: 3px
}

img {
	width:280px;
}
